<h4>All Payments</h4>

@(Html.Kendo().Grid<Payment>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Title("Payment ID");
        columns.Bound(p => p.PaymentAmount);
        columns.Bound(p => p.PaymentDate).Format("{0:dd/MM/yyyy}");
        columns.Command(command =>
                {
                    command.Custom("Update").Text("Update").Click("onUpdate");
                    command.Custom("Details").Text("Details").Click("onDetails");
                    command.Custom("Delete").Text("Delete").Click("onDelete");
                }).Width(300);
    })
    .ToolBar(t =>
    {
        t.ClientTemplate("<button class='myButtonClass' onclick='location.href=\"" + Url.Action("Add", "Payment") + "\";'>Add New Payment</button>");
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)
        .Read(read => read.Action("GetAllPaymentsJSON", "Payment"))
        .Create(c => c.Action("Add", "Payment"))
        .Update(u => u.Action("Update", "Payment"))
        .Destroy(d => d.Action("Delete", "Payment"))
    )
)

<script>

    function onUpdate(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '/Payment/Update/' + dataItem.Id;
    }

    function onDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '/Payment/Details/' + dataItem.Id;
    }

    function onDelete(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '/Payment/Delete/' + dataItem.Id;
    }

</script>

<style>
    h4 {
        color: whitesmoke;
    }

    .k-button-text {
        color: indigo;
    }

    .myButtonClass {
        color: whitesmoke;
        background: indigo;
        border-radius: 5px;
        border: 1px;
        border-color: indigo;
        padding: 3px 5px;
        margin: 3px 5px;
    }

</style>