@model Payment

<h4>Payment Details</h4>

@(Html.Kendo().PanelBar()
    .Name("panelbar")
    .Items(panelbar =>
    {
        panelbar.Add().Text("Payment ID: " + Model.Id).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Claim ID: " + Model.ClaimId).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Payment name: " + Model.PaymentType).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Payment amount: " + Model.PaymentAmount).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Payment date: " + Model.PaymentDate.ToShortDateString()).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Actions").Expanded(false).Items(actions =>
        {
            actions.Add().Text("Update Payment Information").Action("Update", "Payment", new { id = Model.Id });
            actions.Add().Text("Back to List").Action("All", "Payment");
        });

    })
)

<style>
    h4{
        color: whitesmoke;
    }

    .k-panelbar-item-text{
        color:indigo;
    }

  .custom-link {
  padding: 5px 10px; 
  background-color: whitesmoke;
  text-decoration: none; 
  border-radius: 5px;
        color: indigo;
 }

  .custom-link:hover {
  background-color: lavender;
            color: indigo;
 }

</style>