<div id="validation-success"></div>
@(Html.Kendo().Form<Payment>()
    .Name("form")
    .HtmlAttributes(new { action = "Update", method = "POST" })
    .Validatable(v =>
    {
        v.ValidateOnBlur(true);
        v.ValidationSummary(vs => vs.Enable(false));
    })
    .Items(items =>
    {
        items.AddGroup()
            .Label("Update Payment Information")
            .Items(i =>
            {
                i.Add()
                    .Field(f => f.PaymentAmount)
                    .Label(l => l.Text("Payment amount:"));

                i.Add()
                    .Field(f => f.PaymentType)
                    .Label(l => l.Text("Payment type:"));

                i.Add()
                    .Field(f => f.PaymentDate)
                    .Label(l => l.Text("End date:"))
                    .Editor(e => e.DatePicker());

                i.Add()
                    .Field(f => f.Id)
                    .Label(l => l.Text("Payment ID:"))
                    .Editor(e => e.Hidden());
            });
    })
    .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
)


<script>
    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        if (!$("#form").valid()) {
            e.preventDefault();
        }
    }


    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>

<style>
    label {
        color: whitesmoke;
    }

    .k-form fieldset legend {
        color: whitesmoke;
    }

    .k-form-buttons button {
        color: indigo;
        background-color: whitesmoke;
    }
</style>

