<h4>All Policies</h4>
                
@(Html.Kendo().Grid<Policy>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Id).Title("Policy ID");
        columns.Bound(p => p.PolicyType);
        columns.Bound(p => p.StartDate).Format("{0:dd/MM/yyyy}");
        columns.Bound(p => p.EndDate).Format("{0:dd/MM/yyyy}");
        columns.Command(command =>
                {
                    command.Custom("Update").Text("Update").Click("onUpdate");
                    command.Custom("Details").Text("Details").Click("onDetails");
                    command.Destroy();
                }).Width(300);
    })
    .ToolBar(t =>
    {
        t.ClientTemplate("<button class='myButtonClass' onclick='location.href=\"" + Url.Action("Add", "Policy") + "\";'>Add New Policy</button>");
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .Filterable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)
        .Read(read => read.Action("GetAllPoliciesJSON", "Policy"))
        .Create("Add", "Policy")
        .Update("Update","Policy")
        .Destroy("Delete", "Policy")
    )
)

<script>

    function onUpdate(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '/Policy/Update/' + dataItem.Id;
    }

    function onDetails(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = '/Policy/Details/' + dataItem.Id;
    }

</script>

<style>
    h4 {
        color: whitesmoke;
    }

    .k-button-text {
        color: indigo;
    }

    .myButtonClass {
        color: whitesmoke;
        background: indigo;
        border-radius: 5px;
        border: 1px;
        border-color: indigo;
        padding: 3px 5px;
        margin: 3px 5px;
    }

</style>