@model Policy

<h4>Policy Details</h4>

@(Html.Kendo().PanelBar()
    .Name("panelbar")
    .Items(panelbar =>
    {
        panelbar.Add().Text("Policy ID: " + Model.Id).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Customer ID: " + Model.CustomerId).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Policy type: " + Model.PolicyType).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Start date: " + Model.StartDate.ToShortDateString()).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("End date: " + Model.EndDate.ToShortDateString()).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Premium amount: " + Model.PremiumAmount).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Actions").Expanded(false).Items(actions =>
        {
            actions.Add().Text("Update Policy Information").Action("Update", "Policy", new { id = Model.Id });
            actions.Add().Text("Back to List").Action("All", "Policy");
        });
    })
)

<style>
    h4{
        color: whitesmoke;
    }

    .k-panelbar-item-text{
        color:indigo;
    }

  .custom-link {
  padding: 5px 10px; 
  background-color: whitesmoke;
  text-decoration: none; 
  border-radius: 5px;
        color: indigo;
 }

  .custom-link:hover {
  background-color: lavender;
            color: indigo;
 }

</style>