<div id="validation-success"></div>
@(Html.Kendo().Form<Policy>()
    .Name("form")
    .HtmlAttributes(new { action = "Update", method = "POST" })
    .Validatable(v =>
    {
        v.ValidateOnBlur(true);
        v.ValidationSummary(vs => vs.Enable(false));
    })
    .Items(items =>
    {
        items.AddGroup()
            .Label("Update Policy Information")
            .Items(i =>
            {
                i.Add()
                    .Field(f => f.CustomerId)
                    .Label(l => l.Text("Customer ID:"));

                i.Add()
                    .Field(f => f.PolicyType)
                    .Label(l => l.Text("Policy type:"));

                i.Add()
                    .Field(f => f.StartDate)
                    .Label(l => l.Text("Start date:"))
                    .Editor(e => e.DatePicker());

                i.Add()
                    .Field(f => f.EndDate)
                    .Label(l => l.Text("End date:"))
                    .Editor(e => e.DatePicker());

                i.Add()
                    .Field(f => f.PremiumAmount)
                    .Label(l => l.Text("Premium amount:"));


                i.Add()
                    .Field(f => f.Id)
                    .Label(l => l.Text("Policy ID:"))
                    .Editor(e => e.Hidden());
            });
    })
    .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
)


<script>
    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        if (!$("#form").valid()) {
            e.preventDefault();
        }
    }


    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>

<style>
    label{
        color:whitesmoke;
    }

    .k-form fieldset legend{
        color: whitesmoke;
    }

    .k-form-buttons button {
        color: indigo;
        background-color: whitesmoke;
    }
</style>

