<div id="validation-success"></div>
    @(Html.Kendo().Form<Customer>()
        .Name("form")
        .HtmlAttributes(new { action = "Add", method = "POST" })
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .Items(items =>
        {
            items.AddGroup()
            .Label("Add New Customer")
            .Items(i =>
            {
                i.Add()
                .Field(f => f.Name)
                .Label(l => l.Text("Customer name:"));

                i.Add()
                .Field(f => f.Phone)
                .Label(l => l.Text("Phone number:"));

                i.Add()
                .Field(f => f.Address)
                .Label(l => l.Text("Address:"));

                i.Add()
                .Field(f => f.Email)
                .Label(l => l.Text("Email:"));

                i.Add()
                .Field(f => f.DateofBirth)
                .Label(l => l.Text("Date of Birth:"))
                .Editor(e => e.DatePicker());
            });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
        )

<style>
    label {
        color: whitesmoke;
    }

    .k-form fieldset legend {
        color: whitesmoke;
    }
</style>

<script>
    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        if (!$("#form").valid()) {
            e.preventDefault();
        }
    }

    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>

