<div id="validation-success"></div>
@(Html.Kendo().Form<Claim>()
        .Name("form")
        .HtmlAttributes(new { action = "Add", method = "POST" })
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .Items(items =>
        {
            items.AddGroup()
            .Label("Add New Claim")
            .Items(i =>
            {
                i.Add()
                    .Field(f => f.PolicyId)
                    .Label(l => l.Text("Policy"))
                    .Editor(e => e.DropDownList()
                                .BindTo((IEnumerable<SelectListItem>)ViewBag.PoliciesWithoutClaims)
                    );

                i.Add()
                .Field(f => f.ClaimAmount)
                .Label(l => l.Text("Claim amount:"));

                i.Add()
                .Field(f => f.ClaimDescription)
                .Label(l => l.Text("Claim description:"));

                i.Add()
                .Field(f => f.ClaimStatus)
                .Label(l => l.Text("Claim status:"));

                i.Add()
                .Field(f => f.DateOfClaim)
                .Label(l => l.Text("Date of Claim:"))
                .Editor(e => e.DatePicker());

            });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
        )

<style>
    label {
        color: whitesmoke;
    }

    .k-form fieldset legend {
        color: whitesmoke;
    }
</style>

<script>
    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        if (!$("#form").valid()) {
            e.preventDefault();
        }
    }

    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>

