@model Claim

<h4>Claim Details</h4>

@(Html.Kendo().PanelBar()
    .Name("panelbar")
    .Items(panelbar =>
    {
        panelbar.Add().Text("Claim ID: " + Model.Id).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Policy ID: " + Model.PolicyId).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Claim amount: " + Model.ClaimAmount).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Claim status: " + Model.ClaimStatus).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Claim description: " + Model.ClaimDescription).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Date of Claim: " + Model.DateOfClaim.ToShortDateString()).HtmlAttributes(new { @class = "panel-text" });
        panelbar.Add().Text("Actions").Expanded(false).Items(actions =>
        {
            actions.Add().Text("Update Claim Information").Action("Update", "Claim", new { id = Model.Id });
            actions.Add().Text("Back to List").Action("All", "Claim");
        });
    })
)

<style>
    h4{
        color: whitesmoke;
    }

    .k-panelbar-item-text{
        color:indigo;
    }

  .custom-link {
  padding: 5px 10px; 
  background-color: whitesmoke;
  text-decoration: none; 
  border-radius: 5px;
        color: indigo;
 }

  .custom-link:hover {
  background-color: lavender;
            color: indigo;
 }

</style>