<div id="validation-success"></div>
@(Html.Kendo().Form<Claim>()
    .Name("form")
    .HtmlAttributes(new { action = "Update", method = "POST" })
    .Validatable(v =>
    {
        v.ValidateOnBlur(true);
        v.ValidationSummary(vs => vs.Enable(false));
    })
    .Items(items =>
    {
        items.AddGroup()
            .Label("Update Claim Information")
            .Items(i =>
            {
                i.Add()
                    .Field(f => f.ClaimAmount)
                    .Label(l => l.Text("Claim amount:"));

                i.Add()
                    .Field(f => f.ClaimDescription)
                    .Label(l => l.Text("Claim description:"));

                i.Add()
                    .Field(f => f.ClaimStatus)
                    .Label(l => l.Text("Claim status:"));

                i.Add()
                    .Field(f => f.DateOfClaim)
                    .Label(l => l.Text("Date of Claim:"))
                    .Editor(e => e.DatePicker().Name("DateOfClaim").Value(Model.DateOfClaim));

                i.Add()
                    .Field(f => f.Id)
                    .Label(l => l.Text("Hidden Claim ID:"))
                    .Editor(e => e.Hidden());

            });
    })
    .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
)


<script>
    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function onFormSubmit(e) {
        if (!$("#form").valid()) {
            e.preventDefault();
        }
    }


    function onFormClear(e) {
        $("#validation-success").html("");
    }
</script>

<style>
    label{
        color:whitesmoke;
    }

    .k-form fieldset legend{
        color: whitesmoke;
    }

    .k-form-buttons button {
        color: indigo;
        background-color: whitesmoke;
    }
</style>


